<p id="notice"><%= notice %></p>

<h1>Carfares</h1>

<table>
  <thead>
    <tr>
      <th>Worked on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carfares.each do |carfare| %>
      <tr>
        <td><%= carfare.worked_on %></td>
        <td><%= link_to 'Show', carfare %></td>
        <td><%= link_to 'Edit', edit_carfare_path(carfare) %></td>
        <td><%= link_to 'Destroy', carfare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carfare', new_carfare_path %>
