<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Trust・Material", static_pages_top_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ", static_pages_top_path %></li>
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "スケジュール一覧画面", '#' %></li>
        <li><%= link_to "交通費一覧画面", '#' %></li>
        <li><%= link_to "見積書一覧画面", '#' %></li>
      </ul>
    </nav>
  </div>
</header>